{% if current_user.has_role('admin'): %}
    {% extends "admin/base.html" %}
{% else %}
    {% extends "base.html" %}
{%endif%}

{% macro render_field_with_errors(field) %}
  <p>
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ _(error) }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </p>
{% endmacro %}

{% block content %}
    <section id="panel-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">🔐️ Cambiar Contraseña</h1>
                </div>
            </div>
            <div class="col-xs-12">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                  {% endwith %}
                <form id="edit-profile" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
                    {{ change_password_form.hidden_tag() }}
                    {{ render_field_with_errors(change_password_form.password, class_="register-input", placeholder=_("Password")) }}
                    {{ render_field_with_errors(change_password_form.new_password, class_="register-input", placeholder=_("New password") ) }}
                    {{ render_field_with_errors(change_password_form.new_password_confirm, class_="register-input", placeholder=_("New password Confirmation")) }}
                    <button id="register-btn" class="red-btn">Guardar cambios</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block custom_scripts %}
    <script>
        jQuery(document).ready(function() {
            jQuery('#register-btn').click(function() {
                toggleLoader();
            })
        })
    </script>
    {% endblock %}
