{% extends "base_security.html" %}

{% block content %}
    <div id="register-box">
        <img id="alert-icon" src="{{ url_for('static', filename='img/altert-icon.svg') }}" alt="">
        <h3 class="text-center login-title">Recuperar contraseña</h3>
        <h4 class="text-center login-subtitle">Si has olvidado tu contraseña, no te preocupes. Escribe el e-mail con el que te registraste y te enviaremos un mail de recuperación si estás en nuestra base de datos.</h4>
        <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
            {{ forgot_password_form.hidden_tag() }}
            {{ render_field_with_errors(forgot_password_form.email, class_="register-input", placeholder=_("Escribe tu e-mail")) }}
            <button id="register-btn" class="red-btn" type="submit">Recuperar contraseña</button>
        </form>
    </div>
{% endblock %}
