<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cambia tu contraseña</title>
    </head>
    <body style="font-family: Helvetica, sans-serif; padding: 0; max-width: 600px; margin: auto; display: block; ">
        <div style="padding: 30px 20px">
            <a href="https://{{url_for('')}}/recover.php?code={{user.recovery_code}}" style="margin: 20px auto 0 auto; text-decoration: none; border: none; width: 250px; text-align: center; display: block; background-color: #3CC456; border-radius: 10px; padding: 12px 20px; font-size: 16px; color: #ffffff">Reestablece tu contraseña</a>
        </div>
    </body>
</html>
